*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #121212;
  font-family: Montserrat, Arial;
  color: white;
}
.default-tasks{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 300px;
  border: 1px solid white;
  border-radius: 10px;
}
.welcome-mess{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}
.welcome-mess h1{
  font-weight: lighter;
}
.welcome-mess a{
  position: absolute;
  color: white;
  font-size: 1.1rem;
  left: 15px;
  bottom: 25px;
}
.welcome-mess em{
  color: #97dbf4;
  font-weight:300;
}
.task-input-div{
  display: flex;
  margin: 15px;
  gap: 5px;
  position: relative;
}
.task-input-div input{
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 10px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}
.task-input-div input:focus{
  color: #97dbf4;
  outline: none;
  border: 2px solid #FFD43B;
}
.task-input-div input:nth-child(1){
  width: 80%;
}
.name-label{
  position: absolute;
  bottom: -20px;
  font-size: 0.7rem;
}
.task-input-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 24px;
  gap: 5px;
}
.task-input-buttons button{
  background-color: transparent;
  border: 2px solid gray;
  padding: 10px 8px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
}
.add-button{
  color: #97dbf4;
  transition: all ease-in-out .25s;
}
.add-button:hover{
  background-color: #97dbf4;
  color: #121212;
}
.clear-button{
  color: #FFD43B;
  transition: all ease-in-out .25s;
}
.clear-button:hover{
  background-color: #FFD43B;
  color: #121212;
}
.task-title{
  margin: 0px 20px;
  font-weight: lighter;
}
.tasks{
  display: grid;
  grid-template-columns: 60% 20% 20%;
  border: 1px solid gray;
  margin: 1rem;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.25s;
  position: relative;
  cursor: pointer;
}
.tasks p{
  padding: 10px 5px;
}
.js-task-name{
  text-align: left;
  margin-left: 15px;
}
.buttons{
  display: none;
  gap: 5px;
  position: absolute;
  right: 0px;
  top: -35px;
  transition: all ease-in-out 0.25s;
}
.delete-button,
.edit-button{
  background-color: #121212;
  border: 2px solid gray;
  border-bottom: none;
  padding: 8px 10px;
  width: 70px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}
.edit-button{
  color: #97dbf4;
  transition: all ease-in-out .25s;
}
.edit-button:hover{
  background-color: #97dbf4;
  color: #121212;
}
.delete-button{
  color: #FFD43B;
  transition: all ease-in-out .25s;
}
.delete-button:hover{
  background-color: #FFD43B;
  color: #121212;
}
.tasks:hover{
  color: #97dbf4;
  transform: scale(1.01);
  border: 2px solid #97dbf4;
}
.tasks:hover .buttons {
  display: flex;
}