*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.default-tasks{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 300px;
  border: 1px solid gray;
  border-radius: 10px;
}
.tasks{
  display: flex;
  border: 1px solid gray;
  margin: 1rem;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: space-between;
}
.tasks p{
  padding: 10px;
  width: 10%;
  text-align: center;
  overflow: hidden;
}
.tasks p:nth-child(1){
  padding: 10px;
  width: 70%;
  text-align: left;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -15px;
  padding-right: 24px;
  gap: 5px;
}
.delete-button,
.edit-button{
  background-color: rgba(255, 0, 0, 0.826);
  border: none;
  padding: 8px 10px;
  width: 70px;
  border-radius: 10px 10px 0px 0px;
  color: white;
}
.edit-button{
  background-color: rgb(0, 224, 0);
}